@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700;900&display=swap');
body{
  margin: 0;
  padding: 0;
  font-family: 'Mulish';
  color: black;
  background: #FDEEC7;
}

#mainheader {
  background-color: #fff;
}
hr{
  border: 1px solid #cccccc;
}

ul{
list-style-type: none;
display: inline-flex;
font-family: 'Mulish';
font-style: normal;
font-size: 15px;
line-height: 19px;

}
 
/* li{
  border: 1px solid green;
}
a {
  text-decoration: none !important;
  color: white !important;
} */

/* .menu-inner{
margin: 0.625rem 0;
} */

#layout-menu {
  width: 100vw;
}

.header {
  display: flex;
  justify-content: space-between;
margin-left: 60px;
}
.sp {
  height: 20px;
width: 63px;
left: 1220px;
top: 57px;

}
.hamburger {
  padding: 25px;

}

.navBar {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
  margin-left: -50px;
}
.navBarItem {
  background: linear-gradient(106.88deg, #FF9900 5.27%, #FFD584 90.66%);
  border-radius: 9px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  width: fit-content;
  height: 37px;
  padding: 10px;
}

.navBarItem2{
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  height: 37px;
  padding: 10px;
}

.navBarItemText {
  padding: 9px;
}

.navBarItemImg {
  width: 24px;
  height: 24px;
  
}
.content-wrapper {
  background: #FDEEC7;
  /* height: 100vh; */
  /* width: 100vw; */
  /* overflow: hidden; */
}

.egp{
height: 223px;
width: 414px;
margin-left: 85px;
border-radius: 19px;
 border-radius: 19px;
background: linear-gradient(106.88deg, #FF9900 5.27%, #FFD584 90.66%);

}

.text-light{
font-family: Mulish;
font-size: 24px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
}


.ban {
font-family: Mulish;
font-size: 15px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0em;
text-align: left;

}

.card-header{
  color: rgba(153, 77, 0, 1);
  border: none;
  background: white;
  font-weight: 700;
}

.btn {
height: 37px;
width: 146px;
left: 1233px;
top: 233px;
border-radius: 9px;
background: rgba(255, 128, 0, 1);
color: white;

}

.card-title{
  height: 28px;
width: 138px;
left: 590px;
top: 233px;

}

.bnk{
  margin-top: 10px;
}

.imp {
  font-family: Mulish;
font-size: 18px;
font-weight: 900;
line-height: 23px;
letter-spacing: 0em;
text-align: left;

}

.cif {
  margin-top: 20px;
}


.imgci {
  margin-top: 15px;
}


.egp1{
  margin-left: 85px;
/* border-radius: 19px; */
}

.QA{
border-radius: 10px;
background: linear-gradient(106.88deg, #FF9900 5.27%, #FFD584 90.66%);
width: 188px;
height: 90px;
margin-left: 90px;
cursor: pointer;
margin-top: 19px;
}

.tw {
  border: 2px solid #ffa800;
  border-radius: 9px;
 text-align: center;
}


.ci {
  margin-top: 15px;
}
.tb {
  border: 2px solid #ffa800;
  border-radius: 9px;
 text-align: center;
  margin-top: 9px;
}

.scd {
  margin-left: inherit;
}

.tb-1 {
  width: 40% !important;
  margin-left: 80px;
  background: white;
  margin-top: 20px;
  border-radius: 19px;
}

.th {
  color: rgba(153, 77, 0, 1);
  border: none;
  margin-top: 10px;
}

.roww{
  border-radius: 9px;
background: rgba(236, 236, 236, 1);

}

.ch {
margin-bottom: -30px;
}


.harm {
display: none;
}
/* media query for most mobile devices  */

@media (max-width: 767px) {
  .content-wrapper{
    background-color: #FDEEC7;
    width: 100%;
    height: 100%;
 
    
  }
  .egp {
  width: 360px;
  margin-left: 15px;
  }
  .bnk {
    width: 100px;
    margin-top: 20px;
  }

  .scd {
    width: 370px;
    margin-left: 20px;
 
  }
.header {
  margin-left: 0;
  width: 100vw;
}

.egp1{
  margin-left: 20px;
  width: 450px;
}
.scd-1{
  width: 380px;
  margin-left: 20px;
}

.tb-1 {
 width: 100% !important;
 margin-left: 20px;
}
.navBar {
  display: none;
}
.harm {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #ffa800;
  position: absolute;
  top: 70px;
  right: 10px;
}

.QA {
  margin-left: 0px !important;
  margin: 9px !important;
}
.fnd {
  margin-left: 0px !important;
}
}


/* modal side */
.modal-body {
  width: 900px;
}

.modal-content {
  height: 430px;
  width: 185% ;
  margin: -480px;
  border: none;
  border-radius: 14px;
box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
}

.input-group {
  width: 80%;
  height: 50px;
  border-radius: 4px;
background: #F1F1F1;
}

.modal-header {
  border: none;
}

.modal-footer {
  border: none;
}

.frm {
  border-radius: 4px;
background: #F1F1F1;
}

.card-text{
  text-align: center;
  margin-top: 23px;
}

.card-mod {
  background-color: #F1F1F1;
  border: none;
  width: 173px;
  height: 92.23px;
  
}

.card-title-mod {
  display: flex;
  justify-content: center !important;
}

.img-mod {
  height: 53px;
  width: 55.607px;
  
}

.btn-1 {
  border-radius: 4px;
background: #FF8F0B;
display: flex;
width: 130px;
height: 38px;
padding: 9px 23px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border: none;
}

.btn-2 {
  border-radius: 4px;
  background: #E4E4E4 !important;
  color: #7E7E7E;
  align-items: center;
  display: flex;
  padding: 9px 23px;
  justify-content: center;
  width: 130px;
gap: 10px;
border: none;

}

.modal-footer{
  justify-content: center;
}

.modal-backdrop {
  --bs-backdrop-opacity: 0.8;
}